<%= form_with(model: @article) do |article_form| %>
    <div class="field">
        <%= article_form.label :title %>
        <%= article_form.text_field :title %>
    </div>

    <br>

    <div class="field">
        <%= article_form.label :description %>
        <br>
        <%= article_form.text_area :description %>
    </div>

    <br>

    <div class="field">
        <%= article_form.label :status %>
        <%= select(:article, :status, options_for_select([['Draft', :draft], ['Pending', :pending], ['Live', :live]], @article.status)) %>
    </div>

    <br>

    <div class="field">
        <%= article_form.label :user %>
        <%= article_form.collection_select(:user_id, User.all, :id, :username, {:prompt => "Please select a user"} )%>
    </div>

    <br>

    <div class="actions">
        <%= article_form.submit %>
    </div>
<% end %>