<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href=<%= root_path %>>Home</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=<%= users_path %> aria-current="page">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= articles_path %> aria-current="page">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= live_articles_path %> aria-current="page">Live Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= articles_path(:status => "live") %> aria-current="page">Live Articles from Params</a>
        </li>
        <li class="nav-item">
          <% if logged_in? %>
            <%= link_to "Log out", logout_path, data: { turbo_method: :post }, class: 'nav-link' %>
          <% else %>
            <%= link_to 'Log in', login_path, class:"nav-link" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
